#wrapper {
}
.v0 {
  background-color:#fff;
  border-bottom:1px solid #fff;
  height:3px;
  margin-bottom:40px;
}

.v1 {
  height:650px;
  text-shadow:1px 1px 1px #fff;
}
.v1 h1 {
  margin-top:180px;
  font-size:4.5em;
  line-height:0.9;
  margin-bottom:10px;
}
.v1 h1 span {
  color:#53c9ee;
  font-size:1.5em;
  line-height:1;
  font-family:'Yanone Kaffeesatz',Helvetica,Arial,sans-serif;
}
.v1 h2 {
  color:#aaa;
}
.v1 img {
  float:right;
  margin-right:80px;
}
.v1 p {
  margin-top:70px;
  margin-bottom:25px;
  color:#aaa;
  text-shadow:1px 1px #fff;
  font-size:2em;
  line-height:1.5;
  font-family:Helvetica,Arial,sans-serif; 
}
.v1 em {
  font-weight:bold;
  border-bottom:1px dotted #ccc;
}

.v2 {
  color:#b49d7b;
  background-color:#29251a;
  background-image:url('../img/v2noise.png');
  height:800px;
  text-shadow:1px 1px 1px #000;
  border-bottom:2px solid #1f1c14;
}
.v2 h2 {
  margin-top:80px;
  font-size:6em;
  line-height:1;
  margin-bottom:20px;
  font-family:'Yanone Kaffeesatz',Helvetica,Arial,sans-serif;
}
.v2 h3 {
  font-size:2.5em;
  line-height:1.2;
}
.v2 .lbl {
  font-size:0.8em;
  color:#9f8764;
  width:60px;
  display:inline-block;
  font-family:'Yanone Kaffeesatz',Helvetica,Arial,sans-serif;
}
.v2 .ablauf {
  margin-top:30px;
}

.rthumb {
  margin-left: -20px;
  list-style: none;
}
.rthumb > li {
  float: left;
  margin: 0 0 18px 20px;
}
.rthumb a {
  border:4px solid #62A7E0;
  display:block;
  line-height:1;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  padding:0px;
	-webkit-box-shadow: 0 1px 3px rgba(0,0,0,0.6);
  -moz-box-shadow: 0 1px 3px rgba(0,0,0,0.6);
  box-shadow: 0 1px 3px rgba(0,0,0,0.6);
}
.rthumb a:hover {
	-webkit-box-shadow: 0 1px 3px rgba(0,0,0,0.8);
  -moz-box-shadow: 0 1px 3px rgba(0,0,0,0.8);
  box-shadow: 0 1px 3px rgba(0,0,0,0.8);
}

.v3 {
  border-top:20px solid #175282;
  border-bottom:20px solid #62a7e0;
  padding-top:40px;
  height:700px;
  text-shadow:1px 1px 1px #175282;
  background-color:#205a8c;
  background-image:url('../img/v3noise.png');
}
.v3 h2 {
  color:#fff;
  font-size:5em;
  line-height:1.5;
  margin-bottom:20px;
  font-family:'Yanone Kaffeesatz',Helvetica,Arial,sans-serif;
}

.v4 {
  padding-top:40px;
  height:800px;
  text-shadow:1px 1px 1px #fff;
}
.v4 h2 {
  font-size:5em;
  line-height:1;
  font-family:'Yanone Kaffeesatz',Helvetica,Arial,sans-serif;
  margin-bottom:20px;
}
.v4 h3 { 
  font-size:1.6em;
  margin-top:30px;
}
.v4 p { 
  font-size:1.1em;
  color:#666;
}
.v4 span {
  width:100px;
  display:inline-block;
}
.v4 strong {
  display:inline-block;
}
.v4 em {
  margin-left:100px;
}
.v4 q {
  width:120px;
  display:inline-block;
}
.v4 small {
  font-size:0.7em;
  color:#888;
}
.v4r {
  border-left:1px dotted #ccc;
  padding-left:40px;
}


.v5 {
  border-top:20px solid #175282;
  padding-top:40px;
  height:600px;
  text-shadow:1px 1px 1px #175282;
  background-color:#205a8c;
  background-image:url('../img/v3noise.png');
}
.v5 h2 {
  color:#fff;
  font-size:5em;
  line-height:1.5;
  margin-bottom:20px;
  font-family:'Yanone Kaffeesatz',Helvetica,Arial,sans-serif;
}
.v5 h3, .v5 p {
  color:#fff;
  font-size:3em;
  line-height:1.1;
  margin-bottom:20px;
  font-family:'Yanone Kaffeesatz',Helvetica,Arial,sans-serif;
}
.v5 span {
  font-size:0.8em;
  color:#c7ddef;
  width:60px;
  display:inline-block;  
}
.v5 .social a {
  margin-top:50px;
  padding:5px;
  border:10px solid #175282;
  display:inline-block;
  margin-right:3px;
}
.v5 small {
  display:block;
  margin-top:20px;
  color:#80a0ba;
  text-shadow:1px 1px #175282;
  font-size:0.8em;
}

.v6 {
  border-top:2px solid #1f1c14;
  background-color:#29251a;
  background-image:url('../img/v2noise.png');
  padding:10px 0px;
  color:#ccc;
  font-size:0.8em;
  text-shadow:1px 1px 1px #000;
}